{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<body>
<title> Our Plan</title>
<link rel="shortcut icon" type="image/png" href="/static/img/sun.png">
<link rel="stylesheet" href="/static/css/index.css?{{ now  }}" />


<div class="calendar"></div>
<div id="menu">
    <label for="tripName">Trip Name:</label>
    <input id="tripName" type="text" value="My Trip" />
    <br />
    <br />
    <label for="startDate">Start Date:</label>
    <input id="startDate" type="number" value="1" min="1" />
    <br />
    <br />
    
    <table>
      <thead>
        <tr>
          <th>City</th>
          <th>Days</th>
        </tr>
      </thead>
      <tbody id="cities">
        <tr>
          <td><button class="deleteCity">Remove</button></td>
          <td><input type="text" class="city" /></td>
          <td>
            <input class="numDays" type="number" value="1" min="1" />
          </td>
        </tr>

      </tbody>
    </table>

    <button id="addCity" value="Add city"> Add City </button>
    <br />
    <br />

    <button id="save"> Save </button>
    <button id="load"> Load </button>
    <div id="loaded" style="border:1px solid black;width:200px;height:30px;">utest</div>
</div>

<script> const csrf = "{{ csrf }}" </script>
<script src="/static/js/jquery-min.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>

